.contact-us {
  width: 100%;
  max-width: 1400px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
}

.contact-us-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-us-from {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.name-col {
  width: 50%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.name-row{
  padding: 20px 0;
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-form-input {
  margin-top: 30px;
  height: 31px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  padding-left: 10px;
  font-weight: 400;
  font-family: "Open Sans";
}

.message-input {
  height: 180px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
}

input.contact-form-input::placeholder, input.message-input::placeholder {
  color: #bdbdbd;
  position: absolute;
  top: 0;
  left: 0;
}
  
.submit-us {
  width: 145px;
  height: 45px;
  border: 1px solid #f5f5f5;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  background-color: #ff8b38;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}